.nav {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(119, 116, 116, 0.918);
    box-shadow: 2px 7px 13px 11px gray;
}
.nav__inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    height: 90px;
    width: 90px;
    background-image: url("../../../public/assets/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__login h3 {
    font-size: 40px;
}

.nav__login i {
    font-size: 80px;
}